@{
    var auth = (iTeamPM.Models.Auth)ViewBag.auth;
}

@{
    ViewBag.Title = "Newspaper - iTeam Project Management";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Community{
    active
}

@section headerTitle{
    <h3><i class="fa fa-newspaper text-white"></i> Newspaper</h3>
}

<style>
    .TextNewsDes {
        height: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="container" ng-controller="News">

    <div class="row">
        <div class="col-lg-10">
            <h4>i-Team Newspaper</h4>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-endaveour button14" data-toggle="modal" data-target=".create-news"><i class="fa fa-plus"></i> Create News </button>
        </div>
    </div>

	<div class="row">
		<div class="col-lg-4 col-md-4" ng-repeat="x in ReadNews">
			<!-- START Panel Success Top Border -->
			<p class="small text-uppercase"><strong>วันที่ประกาศ : {{x.add_date | date:"dd/MM/yyyy"}} </strong></p>
			<div class="panel panel-default {{x.color}} b-t-2">
				<div class="panel-heading">

					<h3 class="panel-title"> ประกาศ : {{x.news_name}}<i class="fa fa-times pull-right" ng-show="x.add_user == @auth.user_id" ng-click="btn.checkDeleteNews(x)"></i></h3>
                    
				</div>
				<div class="panel-body" style="height:109.467px">
					<div class="TextNewsDes">{{x.news_des}}</div>
				</div>
				<div class="panel-footer" style="background-color:#1a1a1a">
					<div style="text-align:right;"><a target="_blank" href="{{btn.createLink(x.news_id)}}">See more</a></div>
				</div>
			</div>
		</div>
	</div>

    <!-- Modal: Create News -->
    <div class="modal modal-createnews fade create-news" style="margin-top:5%" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&#xD7;</span>
                    </button>
                    <h4 class="modal-title hidden-xs">
                        <img src="~/Content/assets/images/poj.gif" height="30" /> News <small> หมายเหตุ * จำเป็นต้องกรอกข้อมูล</small>
                    </h4>
                    <h4 class="modal-title visible-xs">
                        <img src="~/Content/assets/images/poj.gif" height="30" /> Create News <small> * จำเป็นต้องกรอกข้อมูล</small>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-sm-3 control-label"><span class="text-danger">*</span> News Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="ชื่อหัวข้อที่ต้องการประกาศ" ng-model="data.news_name">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-sm-3 control-label"><span class="text-danger">*</span> Upload Picture </label>
                                    <div class="col-sm-8">
                                        <input type="file" id="File" name="File" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-sm-3 control-label"><span class="text-danger">*</span> Description</label>
                                    <div class="col-sm-8">
                                        <textarea style="overflow:auto;resize:none" class="form-control" rows="8" placeholder="กรอกรายละเอียดของประกาศ" ng-model="data.news_des"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label class="col-sm-3 control-label"><span class="text-danger">*</span> Color </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="data.color">
                                            <option>Select Color</option>
                                            <option style="color:#cb3e4b" value="b-t-danger"> ▇  Red / สีแดง </option>
                                            <option style="color:#86b34d" value="b-t-success"> ▇  Green / สีเขียว </option>
                                            <option style="color:#2d99dc" value="b-t-primary"> ▇  Bule / สีน้ำเงิน </option>
                                            <option style="color:#35bda8" value="b-t-info"> ▇  Sky / สีฟ้า </option>
                                            <option style="color:#e66c40" value="b-t-warning"> ▇  Orange / สีส้ม </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-endaveour" ng-click="btn.createNews()">Post</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Create News -->

</div>

@section scripts{
    <script>
        var iTeam = angular.module("app", ['cp.ngConfirm']);
        iTeam.controller("News", function ($scope, $http, $filter, $location, $ngConfirm) {

            $scope.data = {};
            $scope.ReadNews = [];

            $scope.LoadData = {
            	readNews: function () {
            		$$get(base + "Community/ReadNews", d => {
            			$scope.ReadNews = d.data;
            			$scope.$apply();
            		});
            	},
            }
            $scope.LoadData.readNews();

            $scope.btn = {
            	createNews: function () {
            		var file_input = document.getElementById('File')
            		var file = file_input.files[0]
            		var formData = new FormData();
            		formData.append("file", file);
            		formData.append("form", JSON.stringify($scope.data));

            		$$post(formData, base + "Community/CreateNews", d => {
            			if (d.success) {
            				$scope.data = {};
            				$ngConfirm({
            					title: 'บันทึกเรียบร้อยแล้ว',
            					content: 'ข้อความนี้จะปิดตัวลงใน 6 วินาที หากไม่มีการตอบสนอง.',
            					autoClose: 'cancel|4000',
            					buttons: {
            						cancel: function () {
            							
            						}
            					}
            				});
            				$scope.LoadData.readNews();
            				$('.create-news').modal('hide');
            			}
            			else {
            				$ngConfirm({
            					icon: 'fa fa-warning',
            					title: 'คำเตือน',
            					content: d.error,
            					type: 'red',
            					typeAnimated: true,
            					buttons: {
            						close: function () {

            						}
            					}
            				});
            			}
            		}, err => { }, () => { })
            	},
            	createLink: function (id) {
            		return base + "Community/ViewCommunity?news_id=" + id
                },
                checkDeleteNews:function (x) {
                    $scope.selectNews = $linq(x).select(s => s.news_name).firstOrDefault()
                    $ngConfirm({
                        icon: 'fa fa-warning',
                        title: 'คุณต้องการลบประกาศใช่หรือไม่?',
                        content: $scope.selectNews,
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                            tryAgain: {
                                text: 'Delete',
                                btnClass: 'btn-red',
                                action: function () {
                                    $scope.btn.deleteNews(x);
                                }
                            },
                            close: function () {
                            }
                        }
                    });
                },
                deleteNews: function (x) {
                    $$post(JSON.stringify(x), base + "Community/DeleteNews", d => {
                        if (d.success) {
                            $ngConfirm({
                                icon: 'fa fa-spinner fa-spin',
                                title: 'ลบเประกาศรียบร้อยแล้ว',
                                content: 'ข้อความนี้จะปิดตัวลงใน 4 วินาที หากไม่มีการตอบสนอง.',
                                autoClose: 'cancel|6000',
                                buttons: {
                                    cancel: function () {
                                        $scope.LoadData.readNews();
                                    }
                                }
                            });
                        }
                        else {
                            $ngConfirm({
                                icon: 'fa fa-warning',
                                title: 'คำเตือน',
                                content: d.error,
                                type: 'red',
                                typeAnimated: true,
                                buttons: {
                                    close: function () {

                                    }
                                }
                            });
                        }
                        $scope.LoadData.readNews();
                        $scope.$apply;
                    }, err => { }, () => { })
                }
            }

        });
    </script>
}
